* {
  font-family: "Spectral";
}

body {
  background-image: url("/assets/images/history-wallpaper.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  margin: 0;
  min-height: 100vh;
  place-items: center;
}

main {
  display: grid;
  place-items: center;
  grid-auto-flow: column;
  grid-template-columns: min-content 1fr;
  margin: 4vh 4vh;
  column-gap: 1.2vw;
  width: 84%;
}

select,
input {
  padding: 0.13em;
  font-size: 1.2vw;
  border-style: groove;
  border-width: 0.3vw;
  border-color: black;
}

button {
  background: url("/assets/images/wood-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: white;
  cursor: pointer;
  padding: 0.2em;
  border-color: #362419;
  border-width: 0.25vw;
  border-style: outset;
}

button:hover {
  border-style: inset;
}

label {
  font-size: 1.2vw;
  margin: 0.2vw;
}

#form-container,
#board-grid-container {
  background: url("/assets/images/wood-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 0.2vw;
  border-color: #362419;
  border-width: 0.5vw;
  border-style: groove;
}

#form-container {
  place-self: stretch;
  color: white;
  text-align: center;
  padding: 1vw;
  display: grid;
  grid-template-rows: min-content;
  gap: 0.6vw;
}

#board-select-container {
  display: grid;
}

#page-options {
  display: grid;
  gap: 0.5vw;
  font-size: 0.4vw;
  grid-auto-flow: column;
}

#question-form {
  display: grid;
  place-items: stretch;
}

#name-and-square-container {
  display: grid;
  gap: 0.5vw;
}

#page-options,
#question-form {
  grid-column: span 2;
}

#square-number-container,
#question-container,
#correct-answer-container,
#possible-answers-container {
  display: grid;
  margin-bottom: 0.4vw;
}

#board-name-container,
#page-options,
#square-modify-container,
#board-select-container {
  border-color: #362419;
  padding: 0.8vw;
  border-width: 0.25vw;
  border-style: outset;
  display: grid;
}

#board-name-container,
#board-select-container {
  display: grid;
}

#form-options > *,
#page-options > * {
  font-size: 1vw;
}

#square-number-container {
  grid-template-columns: 0.5fr 1fr;
  align-items: center;
}

#board-name-container,
#board-select-container {
  align-items: center;
  grid-template-rows: min-content;
}

/* #correct-answer-container {
  grid-template-columns: 1fr 1fr;
  align-items: center;
} */

#possible-answers-container > label {
  grid-column: span 2;
}

#possible-answers-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5vw;
}
#rewards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.5vw;
}

#form-options {
  margin-top: 0.5vw;
  display: grid;
  column-gap: 0.5vw;
  grid-template-columns: 1fr 1fr;
}

#add-button:hover {
  background: linear-gradient(#0b3f00b9, #0b3f00b9),
    url("/assets/images/wood-background.jpg");
  border-color: #0b3f00;
}

.reset-button:hover {
  background: linear-gradient(#830101c5, #830101c5),
    url("/assets/images/wood-background.jpg");
  border-color: #830101;
}

table {
  border-spacing: 0.2vw;
}

table td {
  position: relative;
  font-size: 5vw;
  width: 0.95em;
  height: 0.95em;
  background-image: url("/assets/images/cream-coloured-wood-texture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  border: solid 2px #362419;
}

table td > div {
  position: absolute;
  padding: 0.2vw;
  top: 0;
  right: 0;
  font-size: 0.9vw;
  color: #362419;
}

/* Edit Board */
.square-question > div {
  color: white;
}

.square-question {
  background: linear-gradient(#126900a2, #126900a2),
    url("/assets/images/cream-coloured-wood-texture.jpg");
}
