@import url("https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  font-family: "Spectral";
}

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-image: url("/assets/images/history-wallpaper.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#game-container {
  position: relative;
  display: grid;
  margin: 4vh 4vh;
  width: 80%;
  grid-template-columns: 1.3fr 1fr;
  column-gap: 1.2vw;
}

#board-name {
  font-size: 1.5vw;
  margin: 0.3em 0;
}

#end-game {
  position: absolute;
  margin: 0.2vw;
  font-size: 0.7vw;
  color: white;
  cursor: pointer;
  border-width: 0.2vw !important;
  border-style: outset;
  border-radius: 0 !important;
}

#end-game:hover {
  color: red;
  border-style: inset;
}

#outer-board-container {
  display: grid;
  place-items: center;
  margin-left: 0;
}

#board {
  display: grid;
  place-items: center;
  grid-auto-rows: min-content;
  row-gap: 1.2vw;
}

#question-outer-container,
#end-game,
#side-panel,
#board > * {
  background-image: url("/assets/images/wood-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 0.2vw;
  border-color: #362419;
  border-width: 0.5vw;
  border-style: groove;
}

#board > div {
  place-self: stretch;
  display: grid;
  place-items: center;
}

#board h1 {
  color: white;
}

#board-grid-container {
  position: relative;
  transform: scaleY(-1);
}

#board-grid {
  border-spacing: 0.4vw;
}

#board-grid td {
  position: relative;
  font-size: 3.5vw;
  width: 1.015em;
  height: 1.015em;
  transform: scaleY(-1);
  background-repeat: no-repeat;
  background-size: cover;
}

#board-grid td > div {
  position: absolute;
  padding: 0.2vw;
  top: 0;
  right: 0;
  font-size: 0.7vw;
  color: #362419;
}

.board-piece {
  position: absolute;
  font-size: 3vw;
  width: 1.015em;
  height: 1.015em;
  transform: scaleY(-1);
  transition-property: left, top;
  transition-duration: 2.5s;
  transition-timing-function: ease-in-out;
}

.board-piece img {
  width: 100%;
}

#side-panel {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 0.6fr;
  margin-right: 0;
  padding: 2vw;
  gap: 1vw;
}

#side-panel > * {
  border-color: #362419;
  border-width: 0.25vw;
  border-style: outset;
}

#player-status-container {
  place-self: stretch;
  display: grid;
  color: white;
  padding: 0.5vw;
}

#player-status {
  font-size: 1vw;
}

#player-status th,
#player-status td {
  padding: 0.3vw;
  text-align: center;
  border: 1px solid;
}

#player-status img {
  width: 3.2vw;
}

#player-status tr > td:nth-child(2) {
  width: 52%;
}

#game-message {
  grid-column: span 2;
  font-size: 1.8vw;
  display: grid;
  place-items: center;
  color: white;
  text-align: center;
  padding: 1vw;
}

#dice-container {
  display: grid;
  place-items: center;
}

@keyframes toss {
  15% {
    transform: scale(0.3);
    translate: 0 50%;
  }
  50% {
    transform: scale(0.3);
    translate: 0 -50%;
  }
  85% {
    transform: scale(0.3);
    translate: 0 50%;
  }
  100% {
    transform: scale(1);
    translate: 0px;
  }
}

@keyframes spin {
  from {
    transform: scale(0.3) rotate(0deg);
  }
  to {
    transform: scale(0.3) rotate(720deg);
  }
}

.dice-throw {
  animation-name: toss, spin;
  animation-duration: 2s, 1.4s;
  animation-delay: 0s, 0.3s;
  animation-timing-function: ease-in-out;
}

#dice {
  width: 80%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#question-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000a1;

  display: grid;
  place-items: center;
}

#question-outer-container {
  display: grid;
  place-items: center;
  min-height: 65%;
  width: 35%;
}

#question-inner-container {
  display: grid;
  place-items: center;
  row-gap: clamp(10px, 2vw, 30px);
  width: 80%;
  color: white;
}

#question {
  display: grid;
  text-align: center;
  font-size: 0.8vw;
}
#question > * {
  margin: 0;
}

#answers-container {
  place-self: stretch;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1vw;
}

#answer-button {
  background-color: transparent;
  padding: 0.5vw;
  cursor: pointer;
  border-radius: 0.2vw;
  border-color: #362419;
  color: white;
  border-width: min(0.25vw, 8px);
  font-size: 0.9vw;
  border-style: outset;
}

#answer-button:hover {
  color: gold;
  border-style: inset;
}

#question-info {
  table-layout: fixed;
  width: 100%;
  font-size: 0.9vw;
  place-self: stretch;
  border-collapse: collapse;
}

#question-info td,
#question-info th {
  padding: 0.2vw;
  border: 1px solid white;
  text-align: center;
}
