body {
    background-image: url("/client/assets/images/history-wallpaper.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 25px 0;
  }

  /* form{
    background-image: url("/client/assets/images/wood-background.jpg");
    display: flex;
    place-self: stretch;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 40px 15px 0px 45px;
    border: groove #362419 10px;
    border-radius: 5px;
    width: 367px;
  } */

  #formcontainer {
    background-image: url("/client/assets/images/wood-background.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 40px 15px 0px 45px;
    border: groove #362419 10px;
    border-radius: 5px;
    width: 367px;
  }

  #formcontainer form {
    margin-bottom: 20px;
    text-align: center;
  }

  #formcontainer form:last-child {
    margin-bottom: 0;
  }

  #formcontainer label {
    color: white;
  }

  #formcontainer label,
  #formcontainer input,
  #formcontainer button {
    text-align: center;
    margin-bottom: 10px;
  }
  
.Input{
    margin: 5px 19px 5px 19px;
    width: 290px;
    height: 36px;
    border-radius: 5px;
    border: none;
}

.add-button{
    background-color: #29B840;
    color: #ffff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 140px;
    height: 36px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 22px;
}

.reset-button{
    background-color: #E22C2C;
    color: #ffff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 140px;
    height: 36px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
}

.save {
  background-image: url("/client/assets/images/wood-background.jpg");
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 5px auto;
  border-radius: 10px;
  border: groove #362419 5px;
  font-size: 20px;
  color: #ffff;
  width: 140px;
  height: 36px;
}

#randomgridgenerator{
  background-image: url("/client/assets/images/wood-background.jpg");
    color: #ffff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100px;
    height: 36px;
    border-radius: 10px;
    border: groove #362419 5px;
  

}
#resetgrid{
  background-image: url("/client/assets/images/wood-background.jpg");
  color: #ffff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100px;
    height: 36px;
    border-radius: 10px;
    border: groove #362419 5px;
    margin-left: 5px;
}

#mainmenu{
  background-image: url("/client/assets/images/wood-background.jpg");
  color: #ffff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100px;
  height: 36px;
  border-radius: 10px;
  border: groove #362419 5px;
  margin-left: 0px;
}

table {
  background-image: url("/client/assets/images/wood-background.jpg");
  width: 800px;
  height: 1000px;
  margin: 40px 0px 23px 25px;
  border: groove #362419 10px;
  font-family: "Arial", Arial, sans-serif;
  color: white;
  border-collapse: collapse;
  margin-bottom: 0px;
}

