body {
    background-image: url("/client/assets/images/history-wallpaper.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 25px 0;
  }

.player-name{
    margin-bottom: 10px;
    width: 343px;
    height: 27px;
    border-radius: 5px;
    border: solid;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
h1 {
    background-image: url("/client/assets/images/wood-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    font-size: 32px;
    width: 343px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    border-radius: 5px;
    border-color: #362419;
    border-width: 10px;
    border-style: groove;
}
.boards{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom:60px;
    border: none;
    
}
.boards button {
    background-image: url("/client/assets/images/wood-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 24px;
    color: #fff;
    width: 199px;
    height: 199px;
    margin: 0 37px;
    cursor: pointer;
    border-radius: 5px;
    border-color: #362419;
    border-width: 10px;
    border-style: groove;

}
.submit{
    display: inline-block;
    background-image: url("/client/assets/images/wood-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    width: 183px;
    height: 57px;
    border-radius: 10px;
    margin-top: 44px;
    border-radius: 5px;
    border-color: #362419;
    border-width: 10px;
    border-style: groove;
}

.boards button.clicked {
    border: 4px solid #F4DC00
}